лаба11/laba11/laba11z3/XMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="XMLSchema">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ALL"/>
				<xs:element name="GROUP"/>
				<xs:element name="NAME" type="xs:string"/>
				<xs:element name="TIME" type="xs:string"/>
				<xs:element name="STYLE" type="xs:string"/>
				<xs:element name="PAGES" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>